$color: #454851;

$grey-dark: #7a7b7c;
$grey-light: #bdbec1;
$grey-lightish: #d3d3d5;
$grey-lightisher: #e4e4e5;
$grey-lighter: #f4f5f5;
$grey-lightest: #f8f9f9;
$white: #ffffff;

$grey-blue-light: #b3bbd4;
$grey-blue-lighter: #f0f4fa;

$primary: #406b8f;
$primary-darker: #375976;
$primary-disabled: #5e6975;

$success: #5cb521;
$warning: #f08a12;

$background: $grey-blue-lighter;
$secondary-background: $white;

$border-color: $grey-lightisher;
