$border-radius-small: 3px;
$border-radius: 5px;
$border-radius-large: 8px;

$padding-xsmall: 2px;
$padding-small: 4px;
$padding: 7px;
$padding-large: 12px;
$padding-xlarge: 20px;

$margin-small: 5px;
$margin: 15px;
$margin-large: 30px;

$transition: 0.2s;
