@import 'styles/colors.scss';
@import 'styles/variables.scss';

// .red {
//   background: lightblue;
// }

.w-100 {
  width: 100%;
}

.align-right {
  text-align: right;
}

.margin-v {
  margin: $margin 0;
}

.margin-top {
  margin-top: $margin;
}

.margin-top-small {
  margin-top: $margin-small;
}

.padding {
  padding: $padding;
}

.padding-v {
  padding: $padding 0;
}

.muted {
  color: $muted;
}

.success {
  color: $success;
}

.va-middle {
  vertical-align: middle;
}

.left-icon {
  @extend .va-middle;
  padding-right: $padding-xsmall;
}

.hover-parent {
  visibility: hidden;
}

.list-element {
  padding: $padding;
  border-radius: $border-radius-large;

  &:hover:not(.dragging-other) {
    background-color: $background;
  }

  &.dragging {
    background-color: $background;

    .dnd-handle {
      color: $color;
    }
  }

  .dnd-handle {
    color: $grey-lightisher;

    &:hover {
      color: $color;
    }
  }
}

/*
Card
*/

.card {
  background: $secondary-background;

  padding: $padding-large;

  margin: $margin 0;

  // border: 1px solid $border-color;
  border-radius: $border-radius;
  box-shadow: 0 0px 2px 0 rgba(0, 0, 0, 0.1);
}

a.card {
  display: block;
  &:hover {
    box-shadow: 0 0px 4px 0 rgba(0, 0, 0, 0.15);
  }
}

/*
Buttons
*/
.button {
  cursor: pointer;

  // font-size: 0.9rem;
  color: $color;
  text-decoration: none;

  font-size: 0.9em;
  padding: 0;

  &:focus {
    outline: 0;
    text-decoration: underline;
  }

  &.no-focus:focus {
    outline: 0;
    text-decoration: none;
  }
}

.button-primary {
  @extend .button;

  border: 0;
  border-radius: $border-radius-small;
  color: $secondary-background;
  background: $primary;

  padding: 5px 10px;

  &:disabled {
    background-color: $grey-blue-light;
  }

  &:hover:not(:disabled) {
    background: $primary-darker;
  }
}

.button-link {
  @extend .button;

  border: 0;
  color: $grey-dark;

  background: transparent;

  &:disabled {
    color: $grey-blue-light;
  }

  &:hover:not(:disabled) {
    color: $color;
  }
}

.button-phantom {
  @extend .button;

  border: 0;
  background: transparent;

  font-size: inherit;
  font-weight: inherit;
  font-family: 'Roboto', sans-serif;
  text-align: inherit;
}

.button-group {
  text-align: right;

  > * {
    margin-left: $margin;
  }
}

/*
Inputs
*/

.input-label {
  margin-bottom: $margin-small;
}

.input-text {
  display: block;
  box-sizing: border-box;

  background: $secondary-background;
  border: 1px solid $grey-light;
  border-radius: $border-radius;

  padding: $padding;
  font-size: inherit;

  &:focus {
    outline: 0;
    border: 1px solid $primary;
    // box-shadow: 0;
  }
}

.input-text-phantom {
  @extend .input-text;
  background: transparent;

  border-left: 0;
  border-top: 0;
  border-right: 0;
  border-bottom: 0;
  border-radius: 0;
  padding-left: 0;
  padding-right: 0;

  &:focus {
    border-left: 0;
    border-top: 0;
    border-right: 0;
    border-bottom: 0;
  }
}

.input-icon {
  transition: $transition;
}

.input-wrapper {
  transition: $transition;
  padding: $padding-small $padding;
  border: 1px solid $grey-light;
  border-radius: $border-radius;

  &:focus-within {
    border-color: $primary;

    .input-icon {
      color: $primary;
    }
  }
}

/*
Flex
*/

.flex {
  display: flex;
}

.flex-aligned {
  @extend .flex;
  align-items: center;
}

.flex-baseline {
  @extend .flex;
  align-items: baseline;
}

.flex-full-row {
  @extend .flex-aligned;
  justify-content: space-between;
}

.flex-1 {
  flex: 1;
}

/*
Badges
*/

.badge {
  font-size: 0.8em;
  border-radius: 999px;
  padding: $padding $padding-large;
  font-weight: bold;
}

.badge-todo {
  @extend .badge;
  background-color: $grey-lightish;
  color: $grey-dark;
}
